.cataloguePage {
  background-color: #f9f8f8;
  padding: 90px 1rem 0px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.innerContent {
  width: 100%;
  max-width: 1000px;
  text-align: center;
  margin-top: 30px;
  padding: 0;
  overflow: hidden;
}
.pdfViewerWrapper {
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

.iframeContainer {

  border-radius: 8px;
  overflow: hidden;
  background: #f9f8f8;
}
/* CataloguePage.module.css */
.pdfViewerWrapper :global(.rpv-core__viewer::-webkit-scrollbar) {
  width: 10px;
}
.pdfViewerWrapper :global(.rpv-core__viewer::-webkit-scrollbar-track) {
  background: #f1f1f1;
}
.pdfViewerWrapper :global(.rpv-core__viewer::-webkit-scrollbar-thumb) {
  background-color: #007bff;
  border-radius: 10px;
}


.errorMessage {
  color: #e74c3c;
  font-size: 1.1rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5rem;
  }

  .iframe {
    height: 70vh;
  }
}
